.home {
    &__banner {
        background: #A7A37E;
        height: 200px;
        margin: 30px auto;
        padding-bottom: 30px;
        text-align: center;
        width: 70%;
    }

    &__logo-image {
        background: url('../images/panda.png');
        background-repeat: no-repeat;
        display: inline-block;
        height: 85px;
        margin-right: 10px;
        position: relative;
        top: 10px;
        width: 85px;
    }

    &__banner-heading {
        color: #FFF;
        display: inline-block;
        font-size: 70px;
        margin-bottom: 10px;
    }

    &__tagline {
        color: #EFECCA;
        font-size: 30px;
    }

    &__main-container {
        display: flex;
    }
}

.users {
    margin: 0 auto;
    width: 600px;

    &__form {
        text-align: center;
    }

    &__table {
        margin: 0 auto;
    }

    &__row {
        &--active {
            color: blue;
        }
    }
}
